@use './colors';

@mixin border-r {
  border-radius: 5px;
}
@mixin marginy-auto {
  margin: 0 auto;
}
@mixin margin-auto {
  margin: auto;
}
@mixin button($color: colors.$blue-l) {
  background-color: $color;
  color: white;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 4px;
  @include border-r;
}
