@use '../../../styles/colors';
@use '../../../styles/sizes';
:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999;
  background-color: colors.$blue-d;
  color: white;
}
.example-spacer {
  flex: 1 1 auto;
}
#menu {
  display: none;
}
a {
  &.active {
    color: colors.$green;
    border-bottom: 1px solid colors.$green;
  }
}
