@use '../../../styles/sizes';
@use '../../../styles/mixins';

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: sizes.$maxWidth;
  gap: 10px;
  @include mixins.marginy-auto;
}
