<!-- Esto es string interpolation -->
<h1>{{title}}</h1>
<!--
  ngModel es una directiva que trabaja en los
  formularios
-->
<input type="text" [(ngModel)]="title">
<!--
  *ngIf sirve para que el elemento solo se imprima
  si se cumple la condicion
-->
<div *ngIf="title === 'div'">
  Esto es un div
</div>
<!--
  Ejemplo de que si apretan click ejecuta el metodo
  addItem
 -->
<button (click)="addItem()">Add item</button>
<!--
  *ngFor para realizar un for
 -->
<ul>
  <li *ngFor="let name of items; index as i">
    {{i}} {{ name }}
  </li>
</ul>
