/* You can add global styles to this file, and also import other style files */
@use './app/styles/fonts';
@use './app/styles/_sizes';

%marginy-auto {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: sizes.$maxWidth;
  @extend %marginy-auto;
}
